<div class='_ccssmath panel'>
    <%= render "ccssmath" %>
</div>

<div class='_ccsselaliteracy panel'>
  <%= render "ccsselaliteracy" %>
</div>

<div class='_search panel'>
  <%= render "search" %>
</div>

<%= render "searchResultItem" %>
<%= render "inlineSearchItem" %>
<%= render "itemModal" %>
